/* About page hero section  */
.about_us_hero h2{
    max-width: 418px;
    width: 100%;
    margin: auto;
    text-align: center;
    text-transform: none;
    margin-bottom: 44px;
}

.about_us_hero {

}


.map{
    background: url(../images/about_us/map.svg);
    min-height: 350px;
    background-size: contain;
    max-width: 781px;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
}

.map {
    display: flex;
}

.map .stats{
    max-width:400px;
    width: 100%;
    margin: 0px auto;
    justify-content: space-between;
    display: flex;
}

.map .clients img{
    height: 32px;
}
.map .clients span:nth-of-type(1){
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #15253C;

}
.map .clients span:nth-of-type(2){
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #686E75;
}
/* About page hero section ended */


.achivements{
    background: url(../images/about_us/Frame.png);
    background-repeat: no-repeat;
    background-origin: center;
    background-position: center;
    background-size: cover;
    min-height: 194px;
    border-radius: 10px;
}

.achivements .row{
    min-height: 194px;
    align-content: center;
    max-width: 1000px;
    width: 100%;   
    margin: auto;
}
.achivements .ach_elements img{
    height: 52px;
    width: 52px;
}

.achivements .ach_elements{
    text-align: center;
    padding: 26px 0px;
}
.ach_elements h1{
    color: white;
    font-style: normal;
font-weight: 600;
line-height: 44px;
margin-top: 15px;
margin-bottom: 10px;


color: #FFFFFF;
}

 .ach_elements p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: white;
}
sup {
    margin-left: -8px;
}

.all_missions .missions:nth-of-type(2) .missions_left{
    padding-left: 55px;
}
.all_missions .missions:nth-of-type(1) {
    margin-bottom: 46px;
}
.missoin_header{
    text-align: center;
    max-width: 557px;
    width: 100%;
    margin: auto;
    margin-bottom: 49px;
}

.missoin_header h2{
    margin-bottom: 16px;
}
.missions_left h3 {
    color: #56595E;
    margin-bottom: 10px;
    font-weight: 600;
}

.missoin_header p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    text-align: center;
    
    /* 2nd */
    
    color: #312E49;
    
    opacity: 0.5;
}

p.mission_details{
    margin-bottom: 52px;
}
.missions .row{
    max-width: 1096px;
    margin: auto;
}
.missions p{
       font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #959595;
    max-width: 557px;
    width: 100%;

}
.mission_no{
    margin-left: 12.5px;
}

.missions .mission_number img{
    height: 30px;
    width: 30px;
    margin-right: 12.5px;
}

.mission_no h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #2B2C2D;
}

.mission_no p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #808080;
}


.mission_stats{
    display: flex;
    justify-content: space-between;
    max-width: 424px;
    padding-left: 12px;
}


/* Business section  */
.business_left h2 {
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #312E49;
    margin-bottom: 20px;
}

.business_left p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #959595;
    max-width: 536px;
    width: 100%;
}
.business .row{
    justify-content: space-between;
    max-width: 1096px;
    width: 100%;
    margin: auto;
}

.business  .accordion-button:focus {
    z-index: 3;
    border-color:transparent;
    outline: 0;
    box-shadow: none;
}

.business .accordion-button:not(.collapsed) {
    color: white;
    background: #085BD8;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.business  .accordion-button{
    background: #F9FBFE;
}


.business .accordion-button:not(.collapsed)::after {
    background-image: url(../images/icons/-ligth.svg) !important;
    background-size: cover;
}


.business .accordion-button::after{
    background-image: url(../images/icons/+\ dark.svg) !important;
    background-size: cover;
    transform: rotate(0deg);
    height: 16px;
    width: 16px;
}

.business .accordion-item{
    border: none;
    margin-bottom: 10px;
}
.business .accordion-body{
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding-top: 15px;
    color: #312E49;;
}

.business .accordion-button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}


/* Get started section  */
.get_started{
    background-image: url(../images/about_us/get_started_bg.svg);
    background-origin: content-box;
    background-size: cover;
}
.get_started_el{
    max-width: 517px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.get_started h3{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
color: #15253C;
text-align: center;
margin-bottom: 20px;
}

.get_started p{
    margin: auto;
    text-align: center;
}