

.portfolio_list .heading_2{
    text-transform: capitalize !important;
}
.portfolio{
    margin-bottom: 113px;
}

.portfolio_list .portfolio:nth-of-type(4){
    margin-bottom: 69px;
}

.portfolio:nth-of-type(odd) .left_col{
    order: 2;
}
.portfolio:nth-of-type(odd) .right_col{
    order: 1;
}
.portfolio:nth-of-type(odd) .portfolio_details{
    padding-left: 0px;
 }
 

 /* Code is for swithiching order not for responsive  */
@media screen and (max-width:768px){
    .portfolio:nth-of-type(odd) .left_col{
        order: 1;
    }
    .portfolio:nth-of-type(odd) .right_col{
        order: 2;
    }
    .portfolio_details{
        padding-left: 0px !important;
    }
}
 /* Code is for swithiching order not for responsive  */




.portfolio_list h5{
    margin-top: 10px;
}

.tag{
    padding: 5px 10px;
    color: #085BD8;
    background: rgba(8, 91, 216, 0.08);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    border-radius: 35px;
    width: fit-content;
    min-height: 27px;

}

.portfolio_details{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 40px;
}

.portfolio_details .details{
    margin-top: 30px;
    max-width: 595px;
    width: 100%;
}


.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 92px;
}

.page-item.active .page-link{
    color: white !important;
}
.page-item:first-child .page-link, .page-item:not(:first-child) .page-link {
    border-radius: 50%;
    font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 140%;
/* identical to box height, or 17px */
color: #000000;
padding: 8px 13px;
margin-left: 5px;
margin-right: 5px;
}


.page-link:hover {
    color: white !important;
    background-color:rgba(8, 91, 216, 1);
    border-color: rgba(8, 91, 216, 1)
}

.heading_and_filter{
    margin-bottom: 32px;
}
.heading_and_filter .filter{
    display: flex;
    justify-content: right;
}
.heading_and_filter .filter select{
    max-width: 412px;
    width: 100%;
    padding: 11px 26px;
    color: #8B8B8B;

}

/* Code for portfolio detais page  */

.portfolio_desc h5{
    margin-bottom: 20px;
}
.tag_and_date{
    display: flex;
}
.tag_and_date .date{
    margin-left: 15px;
}
.portfolio_bg {
    background-image: url(../images//portfolio/portfolio_details_demo.svg);
    height: auto;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    min-height: 480px;
    margin-top: 26px;
    background-repeat: no-repeat;
}

.case_portfolio_bg {
    background-image: url(../images/case_study/details_page_bg.svg);
    height: auto;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    min-height: 480px;
    margin-top: 26px;
    background-repeat: no-repeat;
    padding: 0px 44px;
}

.about_portfolio{
    margin-top: 56px;
}
.about_portfolio .info b{
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;

color: #000000;
}

.about_portfolio .about h5{
    margin-bottom: 17px;
    
}

.about_portfolio .about  p , .about_portfolio .info tr td:last-child{
margin-bottom: 17px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 170%;
color: #312E49;
opacity: 0.5;
}
.about_portfolio .about  p{
    max-width: 816px;
    width: 100%;
}

.about_portfolio .info{
    margin-top: 50px;
}

.about_portfolio .info td{
   padding-bottom: 24px;
}

.about_portfolio .info tr td:last-child{
   padding-left: 15px;
}

.about_portfolio .info tr td:first-child{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

/* REsults  */
.results .result_numbers h5.custom_heading{
    color: #085BD8 !important;
}
.results .result_details p{
    max-width: 872px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    line-height: 170%;
    color: #312E49;
    opacity: 0.5;

}
.results .result_numbers{
    margin-top: 33px;
}

.results .result_numbers p{
    margin-top: 20px;
}
.results .result_numbers b{
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
/* or 27px */


color: #312E49;

opacity: 0.8;
}
.results > .row{
    min-height: 307px;
    align-items: center;
}


/* project_showcase */
.project_showcase h2{
    text-align: center;
}

.project_showcase{
    margin:56px 0px;
  }
  .project_showcase h2{
    margin-bottom: 60px;
    text-transform: capitalize;
  }
  .projects_slider{
    max-width: 872px;
    width: 100%;
    margin: auto;
  }
  
  .projects_slider h3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: 20px;
    text-transform: capitalize;
    max-width: 273px;
    width: 100%;
  }
  .projects_slider .project p{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #312E49;
    opacity: 0.5;
    margin-top: 24px;
  }
